*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.admin-panel{
    width: 70%;
    height: 600px;
    background-color: lawngreen;
}

.admin-side-bar{
    width: 25%;
    height: 600px;
    background-color: blueviolet;
}

.heading{
    width: 100%;
    height: 100px;
    color: white;
    /* background-color: pink; */
}
.side-tools{
    width: 100%;
    height: 300px;
    /* background-color: rgb(189, 122, 77); */
}
.tools{
    width: 100%;
    height: 300px;
    margin: 10px;
    /* background-color: aqua; */
}

.tools li{
    list-style:  none;
    margin: 20px;
   
}
.tools a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.tools i{
    font-size: 20px;
}