*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.admin-panel{
    width: 70%;
    height: 600px;
    background-color: lawngreen;
}

.admin-side-bar{
    width: 25%;
    height: 600px;
    background-color: blueviolet;
}

.heading{
    width: 100%;
    height: 80px;
    background-color: pink;
}