.coins-dashboard{
    /* background-color: blue; */
    width: 80%;
    height: 600px;
}

.coins-dashboard .heading{
    width: 100%;
    height: 80px;
    color: black;
    /* background-color: red; */
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100px;
    font-family: sans-serif;
}
  
.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    background-color:  #202B32;
    color: white;
}
  
.tabs__radio {
    display: none;
}
  
.tabs__content {
    order: 1;
    width: 100%;
    height: min-content;
    color: #202B32;
    display: none;
    
    padding: 10px;
    gap: 20px;
}
  


  
.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
}
  
.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
} 
 
.coin-table {
    width: 100%;
    border-collapse: collapse;
}

.coin-table th,
.coin-table td {
    padding: 8px;
    text-align: left;
}

.coin-table th {
    background-color: #202B32;
    color: white;
}

.coin-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.coin-table button{
    padding: 5px 7px;
    background-color: #202B32;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;

}