.coins-dashboard{
    /* background-color: blue; */
    width: 80%;
    height: 600px;
}

.coins-dashboard .heading{
    width: 100%;
    height: 80px;
    color: black;
    /* background-color: red; */
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: sans-serif;
    /* background-color: pink; */
}
.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    background-color:  #202B32;
    color: white;
}
  
.tabs__radio {
    display: none;
}
  
.tabs__content {
    order: 1;
    width: 100%;
    display: none;
    /* background-color: burlywood; */
}

.child{
    /* justify-content: space-between; */
    background-color: #8da4b9;
    height: 40px;
    gap: 70px;
    padding: 10px;
}
  
.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
}
  
.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
} 
.child button{
    padding: 7px 15px;
    background-color: #202B32;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
} 