.dark-text {
    color: #212529;
}

.light-text {
    color: #495057;
}

.off-white-text {
    color: #DEE2E6;
}

.white-text {
    color: #FFFFFF;
}

.primary-text {
    color: #202B32;
}

.dark-gray-text {
    color: #333;
}

.off-white-text {
    color: #f8f9fa;
}

.primary-bg {
    background-color: #202B32;
}

.secondary-bg {
    background-color: #CAD2C5;
}

.off-white-bg {
    background-color: #F4F6F3;
}

.green-bg {
    background-color: #354F52;
}