header {
    height: 65vh;
    background-image: url('../assets/hero-2.jpg');
}

.search {
    margin-bottom: 64px;
}

.navbar {
    background-color: rgba(202, 210, 197, 1);
}

.select-departure,
.select-return {
    padding: 64px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.select-section-title {
    width: 1200px;
}

.select-section-title h1 {
    text-align: left;
    padding-bottom: 64px;
    font-size: 36px;
}

.result-card {
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;
    width: 1200px;
    height: 90px;
    margin-bottom: 36px;
}

.result-card:hover {
    cursor: pointer;
    transform: translateY(-3%);
}

.result-card h2 {
    font-size: 18px;
    font-weight: 500;
}

.result-card>div {
    width: 30%;
}

.result-card i {
    scale: .75;
}

.result-card-location {
    justify-content:  space-between;
    align-items: center;
}

.result-card-price {
    justify-content: space-around;
    align-items: center;
}

.arrow-img {
    width: 50%;
}

.arrow-img img {
    width: 100%;
}

.select-btn {
    font-family: "Cormorant", serif;
    font-size: 17px;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 36px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: #202B32;
}

.clicked {
    background-color: #202B32;
}